### GENERALS
# URL of API server. Eg: api.example.com
API_SERVER_URL=http://localhost:3000
# Prefix of API server. Eg: /api
API_SERVER_PREFIX=/api
# Next JS base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3001
# Enable i18n routing (/en, /vi, etc.)
INTERNATIONAL_ROUTING_ENABLED=false
# Set to `true` to disallow search engine crawlers
NEXT_PUBLIC_DISABLE_ROBOTS=

# SENTRY
NEXT_PUBLIC_SENTRY_DSN=https://xxxxx
# Auth token to push source map to sentry. Run command `npx @sentry/wizard@latest -i sourcemaps` to generate
SENTRY_AUTH_TOKEN=
# Set to `true` to enable debug
ENABLE_SENTRY_DEBUG=

# I18NEXT
# Set to `true` to enable debug
ENABLE_I18NEXT_DEBUG=

### WORDPRESS
# Endpoint of GraphQL in Wordpress CMS
WORDPRESS_GRAPHQL_ENDPOINT=

# Max number of pages to build in a category layout
MAX_PAGES_TO_BUILD=100
# Number of posts per page in a category layout
POSTS_PER_PAGES=20
# Allow anonymous comment in a post
NEXT_PUBLIC_ALLOW_ANONYMOUS_COMMENT=true
# Default video URL of a product
NEXT_PUBLIC_DEFAULT_PRODUCT_VIDEO_URL=https://xxxx.com

### AUTHENTICATION
## Google
# Enable Google Auth
NEXT_PUBLIC_IS_GOOGLE_AUTH_ENABLED=false
# Google client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1050000000000-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.apps.googleusercontent.com

## Facebook
# Enable Facebook Auth
NEXT_PUBLIC_IS_FACEBOOK_AUTH_ENABLED=false
# Facebook app ID
NEXT_PUBLIC_FACEBOOK_APP_ID=000000000000000

### TRACKING
# Google Analytics 4 Measurement ID
NEXT_PUBLIC_GA4_ID=G-XXXXX

### BOOKING SETTINGS
# Max allowed passengers for a booking
NEXT_PUBLIC_MAX_ALLOWED_PASSENGERS=30

### SEARCH ENGINE
## Meilisearch
# Host URL
NEXT_PUBLIC_MEILISEARCH_HOST=https://xxx.com
# Admin API Key. Ref: https://www.meilisearch.com/docs/learn/security/differences_master_api_keys#api-keys
MEILISEARCH_ADMIN_KEY=xxxxxxx
# Search API key. Ref: https://www.meilisearch.com/docs/learn/security/differences_master_api_keys#api-keys
NEXT_PUBLIC_MEILISEARCH_SEARCH_KEY=xxxxxx
# Index name. Ref: https://www.meilisearch.com/docs/learn/getting_started/indexes
NEXT_PUBLIC_MEILISEARCH_INDEX_NAME=index_name
NEXT_PUBLIC_RECAPTCHA_V2_INVISIBLE_SITE_KEY=site_key

### FAKE CONTENT
NEXT_PUBLIC_BOOKED_NUMBER=10K

### DEFAULT ROUTE
NEXT_PUBLIC_DEFAULT_ROUTE=22

### CMS CATEGORIES 
NEXT_PUBLIC_TRAVEL_GUIDE_CATEGORY=cam-nang-du-lich

### VIETTEL AI TOKEN
VIETTEL_AI_TOKEN=xxxxxxxxxxxxxxxxxxxx

### DEFAULT AUTHENTICATION
FERRY_DEFAULT_API_KEY=