### GENERALS
# Next JS base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3001
# Site URL (production)
NEXT_PUBLIC_SITE_URL=https://mekongsmile.com
# Enable i18n routing (/en, /vi, /zh, etc.)
INTERNATIONAL_ROUTING_ENABLED=false
# Set to true to disallow search engine crawlers
NEXT_PUBLIC_DISABLE_ROBOTS=

# SENTRY
NEXT_PUBLIC_SENTRY_DSN=https://xxxxx
# Auth token to push source map to sentry
SENTRY_AUTH_TOKEN=
# Set to true to enable debug
ENABLE_SENTRY_DEBUG=

# I18NEXT
# Set to true to enable debug
ENABLE_I18NEXT_DEBUG=

### WORDPRESS (Headless CMS)
# WPGraphQL endpoint
NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=https://mekongsmile.com/graphql

# Max number of pages in a category layout
MAX_PAGES_TO_BUILD=100
# Number of posts per page in a category layout
POSTS_PER_PAGES=20
# Allow anonymous comment in a post
NEXT_PUBLIC_ALLOW_ANONYMOUS_COMMENT=true

### AUTHENTICATION
## Google
# Enable Google Auth
NEXT_PUBLIC_IS_GOOGLE_AUTH_ENABLED=false
# Google client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1050000000000-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.apps.googleusercontent.com

### TRACKING
# Google Analytics 4 Measurement ID
NEXT_PUBLIC_GA4_ID=G-XXXXX

### BOOKING SETTINGS
# Max allowed passengers for a booking
NEXT_PUBLIC_MAX_ALLOWED_PASSENGERS=30

NEXT_PUBLIC_RECAPTCHA_V2_INVISIBLE_SITE_KEY=site_key
